<!doctype html>
<html>
<head>
  <title>Ratings</title>
  <style>
    input {
        display: block;
    }
  </style>
</head>

<body>
  Ratings
  <hr>
    {% if 'logged_in_user_id' in session %}
    <p> Oh hai there logged in user. </p>
    {% endif %}

  {% with messages = get_flashed_messages() %}
  {% if messages %}
    <ul class=flashes>
    {% for message in messages %}
      <li>{{ message }}</li>
    {% endfor %}
    </ul>
  {% endif %}
  {% endwith %}

  {% block content %} put your content here {% endblock %}

</body>
</html>